@import 'tailwindcss';

.container {
    /* Set the container to take the full width of the page or parent element */
    width: 100%;
    /* Set the maximum width of the container to avoid stretching the content on larger screens */
    max-width: 1240px;
    /* Center align the container horizontally */
    margin: 0 auto;
    /* Horizontal padding to provide spacing on smaller screens */
    padding: 0 1rem;
}

.header {
    /* Vertical spacing between the top and bottom of the header */
    padding: 1rem 0;
}

.header__content {
    display: flex;
    /* Horizontal spacing between the navigation bar and left content */
    justify-content: space-between;
    /* Vertically align items within the header */
    align-items: center;
}